/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background:url('Tabrak-Showroom.jpeg') no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    background-color: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .content {
    display: flex;
    flex-direction: column;
  }
  
  .user-details .input-box {
    margin-bottom: 15px;
  }
  
  .user-details .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }
  
  .user-details .input-box input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  
  
  .button {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .button button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    cursor: pointer;
  }
  
  .button button:hover {
    background-color: #45a049;
  }
  
  .login {
    margin-top: 10px;
    text-align: center;
  }
  
  .login a {
    color: #0d6efd;
    text-decoration: none;
  }
  
  .login a:hover {
    text-decoration: underline;
  }
  